body, html {
  margin: 0;
  padding: 0;
  background-image: url(background1.jpeg);
  font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
  background-color: #a13232;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 50px; /* Adjust the gap as needed */
}

.nav-icon {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
}

/* General styles */
h1 {
  color: #333;
}

/* Align the h3 text to the left corner */
.navbar-title {
  margin-right: auto;
  color: #fff;
  font-size: 24px;
}

/* Adjustments for mobile application */
@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    padding: 10px 0;
  }

  .nav-icon {
    margin: 10px 0;
  }

  .navbar .nav-links {
    display: none; /* Hide the nav links by default on mobile */
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .navbar .nav-links a {
    display: block;
    text-align: center;
  }

  .navbar.active .nav-links {
    display: flex; /* Show the nav links when the navbar is active */
  }

  .navbar .menu-icon {
    display: flex; /* Show the menu icon by default on mobile */
  }

  .navbar.active .menu-icon {
    display: none; /* Hide the menu icon when the navbar is active */
  }
}
/* ... previous CSS styles ... */
/* 
.container {
  border-radius: 18px;
  max-width: 400px;
  height: 300px;
  background-color: #fff;
  margin: 50px;
  display: flex;
  align-items: center;
  flex-direction: column; 
} */
.container {
  border-radius: 18px;
  width: 80%; /* Set the width to 80% of the viewport */
  max-width: 400px;
  height: 300px;
  background-color: #fff;
  margin: 50px auto; /* Center the container horizontally */
  display: flex;
  align-items: center;
  flex-direction: column; /* Add this line to stack elements vertically */
}

.profile-icon {
  font-size: 50px;
  color: #000000;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Add margin to separate the icon and text */
}

.profile-info {
  font-size: 18px;
  text-align: center; /* Center the text */
}

.profile-info {
  font-size: 21px;
}

.profile-info h2 {
  margin-top: 0;
}

.profile-info p {
  text-align: justify;
  margin: 5px 0;
}
a.change-password-link {
  color: #fff;
}
/* ... (other CSS styles) ... */

/* Styles for the notification badge */
.notification-badge {
  background-color: red; /* Set the background color for the badge */
  color: white; /* Set the text color for the badge */
  border-radius: 50%; /* Make the badge circular */
  padding: 4px 8px; /* Adjust the padding to control the size of the badge */
  position: absolute; /* Position the badge */
  top: 5px; /* Adjust the top position to align the badge with the icon */
  right: 10px; /* Adjust the right position to align the badge with the icon */
}

